h1{
	text-align:center;
	font-family:lato;
}

h4{
	text-align:center;
	font-family:lato;
}

h6{
	text-align:center;
	font-family:lato;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width:60%;
}

#content{
	max-width:700px;
	width:80%;
	margin:20px auto;
	border-radius:20px;
}

p{
	font-family:railway;
	font-size:19px;
}

body{
	background:rgb(180,180,180);
}

#content{
	background:white;
}

.icons{
	display:inline-block;
	padding-left:42%;
	padding-right:43%;
	font-size:20px;
}


i.fa {
	display:inline-block;
  	border-radius: 60px;
  	box-shadow: 0px 0px 2px #888;
 	padding: 0.5em 0.6em;
  	background:#686868;
  	color:black;
}